# SPDX-License-Identifier: GPL-2.0-only
#
config RV_MON_OPID
	depends on RV
	depends on IRQSOFF_TRACER
	depends on PREEMPT_TRACER
	depends on RV_MON_SCHED
	default y
	select DA_MON_EVENTS_IMPLICIT
	bool "opid monitor"
	help
	  Monitor to ensure operations like wakeup and need resched occur with
	  interrupts and preemption disabled or during IRQs, where preemption
	  may not be disabled explicitly.

	  For further information, see:
	    Documentation/trace/rv/monitor_sched.rst
