# SPDX-License-Identifier: GPL-2.0
menu "Generic Driver Debug Options"

config DRIVER_KMEMDUMP
	bool "Allow drivers to register memory for dumping"
	help
	  Kmemdump mechanism allows any driver to mark a specific memory area
	  for later dumping purpose, depending on the functionality
	  of the attached backend. The backend would interface any hardware
	  mechanism that will allow dumping to complete regardless of the
	  state of the kernel (running, frozen, crashed, or any particular
	  state).

	  Note that modules using this feature must be rebuilt if option
	  changes.

config DRIVER_KMEMDUMP_COREIMAGE
	depends on DRIVER_KMEMDUMP
	bool "Assemble memory regions into a coredump readable with debuggers"
	help
	  Enabling this will assemble all the memory regions into a
	  core ELF file. The first region will include program headers for
	  all the regions, together with vmcoreinfo and specific coredump
	  structures. The coredump file can then be loaded into GDB or crash
	  tool and further inspected.

config QCOM_MD_KMEMDUMP_BACKEND
	tristate "Qualcomm Minidump kmemdump backend driver"
	depends on ARCH_QCOM || COMPILE_TEST
	depends on DRIVER_KMEMDUMP
	help
	  Say y here to enable the Qualcomm Minidump kmemdump backend
	  driver.
	  With this backend, the registered regions are being linked
	  into the minidump table of contents. Further on, the firmware
	  will be able to read the table of contents and extract the
	  memory regions on case-by-case basis.

endmenu
