# SPDX-License-Identifier: GPL-2.0
menu "Generic Debug Options"

config KMEMDUMP
	bool "Allow the kernel to register memory regions for dumping purpose"
	help
	  Kmemdump mechanism allows any driver to register a specific memory
	  area for later dumping purpose, depending on the functionality
	  of the attached backend. The backend would interface any hardware
	  mechanism that will allow dumping to happen regardless of the
	  state of the kernel (running, frozen, crashed, or any particular
	  state).

	  Note that modules using this feature must be rebuilt if option
	  changes.

config KMEMDUMP_COREIMAGE
	depends on KMEMDUMP
	select VMCORE_INFO
	bool "Assemble memory regions into a coredump readable with debuggers"
	help
	  Enabling this will assemble all the memory regions into a
	  core ELF file. The first region will include program headers for
	  all the regions. The second region is the vmcoreinfo and specific
	  coredump structures.
	  All the other regions follow. Specific kernel variables required
	  for debug tools are being registered.
	  The coredump file can then be loaded into GDB or crash  tool and
	  further inspected.

config KMEMDUMP_QCOM_MINIDUMP_BACKEND
	tristate "Qualcomm Minidump kmemdump backend driver"
	depends on ARCH_QCOM || COMPILE_TEST
	depends on KMEMDUMP
	help
	  Say y here to enable the Qualcomm Minidump kmemdump backend
	  driver.
	  With this backend, the registered regions are being linked
	  into the minidump table of contents. Further on, the firmware
	  will be able to read the table of contents and extract the
	  memory regions on case-by-case basis.

config KMEMDUMP_KINFO_BACKEND
	tristate "Shared memory KInfo compatible backend"
	depends on KMEMDUMP
	help
	  Say y here to enable the Shared memory KInfo compatible backend
	  driver.
	  With this backend, the registered regions are copied to a shared
	  memory zone at register time.
	  The shared memory zone is supplied via OF.
	  This backend will select only regions that are of interest,
	  and keep only addresses. The format of the list is Kinfo compatible.

endmenu
