// SPDX-License-Identifier:     GPL-2.0
/*
 * Copyright (C) 2024, Arrow Electronics, Inc.
 */
#include "socfpga_agilex5.dtsi"

/ {
	model = "SoCFPGA Agilex5 Arrow AXE5-Eagle";
	compatible = "arrow,socfpga-agilex5-axe5-eagle", "intel,socfpga-agilex";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	leds {
		compatible = "gpio-leds";

		hps0 {
			label = "hps_led0";
			gpios = <&porta 6 GPIO_ACTIVE_HIGH>;
		};

		hps1 {
			label = "hps_led1";
			gpios = <&porta 7 GPIO_ACTIVE_HIGH>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		hps_sw0 {
			label = "hps_sw0";
			gpios = <&porta 10 0>;
			linux,input-type = <5>;	/* EV_SW */
			linux,code = <0x0>;
		};

		hps_sw1 {
			label = "hps_sw1";
			gpios = <&porta 1 0>;
			linux,input-type = <5>;	/* EV_SW */
			linux,code = <0x0>;
		};

		hps_pb0 {
			label = "hps_pb0";
			gpios = <&porta 8 1>;
			linux,code = <187>;		/* KEY_F17 */
		};

		hps_pb1 {
			label = "hps_pb1";
			gpios = <&porta 9 1>;
			linux,code = <188>;		/* KEY_F18 */
		};
	};

	vdd: regulator-vdd {
		compatible = "regulator-fixed";
		regulator-name = "fixed-supply";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	vdd_3_3: regulator-vdd {
		compatible = "regulator-fixed";
		regulator-name = "fixed-supply";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};
};

&gmac2 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&emac2_phy0>;

	max-frame-size = <9000>;

	mdio0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";
		emac2_phy0: ethernet-phy@1 {
			reg = <0x1>;
			adi,rx-internal-delay-ps = <2000>;
			adi,tx-internal-delay-ps = <2000>;
		};
	};
};

&gpio0 {
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";

	tca9544@70 {
		compatible = "nxp,pca9544";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;
		status = "okay";
	};
};

&osc1 {
	clock-frequency = <25000000>;
};

&qspi {
	status = "okay";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "micron,mt25qu02g", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <100000000>;

		m25p,fast-read;
		cdns,page-size = <256>;
		cdns,block-size = <16>;
		cdns,read-delay = <2>;
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;
	};
};

&uart0 {
	status = "okay";
};
