# SPDX-License-Identifier: GPL-2.0
config PVMEMCONTROL
	tristate "pvmemcontrol Guest Service Module"
	depends on KVM_GUEST
	help
	  pvmemcontrol is a guest kernel module that allows to communicate
	  with hypervisor / VMM and control the guest memory backing.

	  To compile as a module, choose M, the module will be called
	  pvmemcontrol. If unsure, say N.
