# SPDX-License-Identifier: GPL-2.0
#
# SAE J1939 network layer core configuration
#

config CAN_J1939
	tristate "SAE J1939"
	depends on CAN
	help
	  SAE J1939
	  Say Y to have in-kernel support for j1939 socket type. This
	  allows communication according to SAE j1939.
	  The relevant parts in kernel are
	  SAE j1939-21 (datalink & transport protocol)
	  & SAE j1939-81 (network management).

config CAN_J1939_KUNIT_TEST
	tristate "KUnit tests for CAN J1939 sockets" if !KUNIT_ALL_TESTS
	depends on KUNIT && CAN_J1939
	default KUNIT_ALL_TESTS
	help
	  This builds unit tests for the J1939 socket utility functions.

	  For more information on KUnit and unit tests in general, please refer
	  to the KUnit documentation in Documentation/dev-tools/kunit/.

	  If unsure, say N.
