// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2025 Michael Opdenacker <michael.opdenacker@rootcommit.com>
 */

/dts-v1/;

#include "k1.dtsi"
#include "k1-pinctrl.dtsi"

/ {
	model = "OrangePi R2S";
	compatible = "xunlong,orangepi-r2s", "spacemit,k1";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0";
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_2_cfg>;
	status = "okay";
};
