// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright (c) Toradex
 *
 * Toradex DSI to LVDS Adapter on Verdin DSI_1 with Capacitive Touch Display
 * 10.1" V2, used on Dahlia (X17) and Development Board (X48) that expose DSI_1
 * via a Samtec LSS-130 connector.
 *
 * https://developer.toradex.com/hardware/accessories/displays/capacitive-touch-display-101inch-lvds
 * https://www.toradex.com/accessories/capacitive-touch-display-10.1-inch-lvds
 * https://developer.toradex.com/hardware/accessories/add-ons/dsi-lvds-adapter
 * https://www.toradex.com/accessories/verdin-dsi-to-lvds-adapter
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

&{/} {
	panel-lvds-bridge {
		compatible = "optologic,scx1001511ggc49", "panel-lvds";
		backlight = <&backlight>;
		data-mapping = "vesa-24";
		power-supply = <&reg_dsi_lvds>;
		height-mm = <136>;
		width-mm = <217>;

		panel-timing {
			clock-frequency = <70000000>;
			hactive = <1280>;
			hback-porch = <55>;
			hfront-porch = <55>;
			hsync-len = <45>;
			vactive = <800>;
			vback-porch = <5>;
			vfront-porch = <5>;
			vsync-len = <3>;
			de-active = <1>;
			hsync-active = <0>;
			vsync-active = <0>;
			pixelclk-active = <0>;
		};

		port {
			panel_lvds_bridge_in: endpoint {
				remote-endpoint = <&dsi_lvds_bridge_out>;
			};
		};
	};

	reg_dsi_lvds: regulator-dsi-lvds {
		compatible = "regulator-fixed";
		/* Verdin CTRL_SLEEP_MOCI# (SODIMM 256) */
		gpios = <&gpio4 29 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-name = "DSI_1_PWR_EN";
	};
};

&backlight {
	/* Verdin PWM_3_DSI (SODIMM 19) - PWM_3_DSI_LVDS */
	pwms = <&pwm3 0 6666667 0>;

	status = "okay";
};

&i2c4 {
	#address-cells = <1>;
	#size-cells = <0>;

	touchscreen@41 {
		compatible = "ilitek,ili251x";
		reg = <0x41>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_9_dsi>,
			    <&pinctrl_i2s_2_bclk_touch_reset>;
		/* Verdin GPIO_9_DSI (SODIMM 17) - TOUCH_INT# */
		/* Rising edge avoids spurious interrupts from the noisy falling edge. */
		interrupt-parent = <&gpio4>;
		interrupts = <25 IRQ_TYPE_EDGE_RISING>;
		/* Verdin I2S_2_BCLK (SODIMM 42) - TOUCH_RESET# */
		reset-gpios = <&gpio5 0 GPIO_ACTIVE_LOW>;
	};
};

&lcdif1 {
	status = "okay";
};

&lvds_ti_sn65dsi84 {
	vcc-supply = <&reg_dsi_lvds>;

	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			dsi_lvds_bridge_in: endpoint {
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&mipi_dsi_out>;
			};
		};

		port@2 {
			reg = <2>;

			dsi_lvds_bridge_out: endpoint {
				remote-endpoint = <&panel_lvds_bridge_in>;
			};
		};
	};
};

&mipi_dsi {
	samsung,esc-clock-frequency = <16000000>;

	status = "okay";
};

&mipi_dsi_out {
	remote-endpoint = <&dsi_lvds_bridge_in>;
};
