// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2022-2026 Marek Vasut
 */
/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

#include "imx8mm-pinfunc.h"

&{/} {
	beeper {
		compatible = "pwm-beeper";
		beeper-hz = <1000>;
		pwms = <&pwm3 0 250000 0>;
	};

	can_osc: can-osc {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <20000000>;
	};
};

&ecspi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	can@0 {
		compatible = "microchip,mcp2515";
		reg = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_can>;
		clocks = <&can_osc>;
		interrupts-extended = <&gpio4 25 IRQ_TYPE_LEVEL_LOW>;
		spi-max-frequency = <5000000>;
	};
};

&i2c4 {	/* Feature connector I2C */
	#address-cells = <1>;
	#size-cells = <0>;

	gpio_feature: io-expander@20 {
		compatible = "nxp,pca9554";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_expander>;
		reg = <0x20>;
		#gpio-cells = <2>;
		gpio-controller;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupt-parent = <&gpio4>;
		interrupts = <27 IRQ_TYPE_LEVEL_LOW>;
		gpio-line-names =
			"GPIO1_output", "GPIO1_input",
			"GPIO2_output", "GPIO2_input",
			"GPIO3_output", "GPIO3_input",
			"PCA9511A_READY", "";
	};

	eeprom@50 {
		compatible = "atmel,24c32";
		reg = <0x50>;
		pagesize = <32>;
	};
};

&iomuxc {
	pinctrl_can: can-feature-grp {
		fsl,pins = <
			/* CAN_INT# */
			MX8MM_IOMUXC_SAI2_TXC_GPIO4_IO25		0x400000d6
			/* CAN_RST# */
			MX8MM_IOMUXC_SAI2_TXD0_GPIO4_IO26		0x6
		>;
	};

	pinctrl_gpio_expander: gpio-expander-feature-grp {
		fsl,pins = <
			/* GPIO4_IO27 */
			MX8MM_IOMUXC_SAI2_MCLK_GPIO4_IO27		0x6
		>;
	};

	pinctrl_pwm3: pwm3-buzzer-feature-grp {
		fsl,pins = <
			/* Buzzer PWM output */
			MX8MM_IOMUXC_SPDIF_TX_PWM3_OUT			0x100
		>;
	};
};

&pinctrl_hog_feature {
	fsl,pins = <
		/* GPIO5_IO04 */
		MX8MM_IOMUXC_SPDIF_RX_GPIO5_IO4			0x6
	>;
};

&pwm3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm3>;
	status = "okay";
};

&uart1 {	/* J500/J501 */
	status = "okay";
};

&uart2 {	/* RS485 J302/J303 */
	linux,rs485-enabled-at-boot-time;
	uart-has-rtscts;
	status = "okay";
};
