# SPDX-License-Identifier: GPL-2.0-only
#
# virtio-net device configuration
#
config VIRTIO_NET
	tristate "Virtio network driver"
	depends on VIRTIO
	select NET_FAILOVER
	help
	  This is the virtual network driver for virtio.  It can be used with
	  QEMU based VMMs (like KVM or Xen).

	  Say Y or M.
