# SPDX-License-Identifier: GPL-2.0-only
#
# smbfs configuration

source "fs/smb/client/Kconfig"
source "fs/smb/server/Kconfig"

config SMBFS
	tristate
	select CRYPTO_LIB_ARC4
	default y if CIFS=y || SMB_SERVER=y
	default m if CIFS=m || SMB_SERVER=m
