# SPDX-License-Identifier: GPL-2.0-only
config DRM_CH1115_I2C
	tristate "DRM support for Ch1115 OLED panels (I2C BUS)"
	depends on DRM && I2C
	select DRM_CLIENT_SELECTION
	select DRM_GEM_SHMEM_HELPER
	select DRM_KMS_HELPER
	select REGMAP_I2C
	select VIDEOMODE_HELPERS
	help
	  Chipwealth CH1115 is a controller for monochrome dot matrix OLED
	  panels.

	  DRM Driver for Ch1115 OLED panels connected via I2C.

	  If M is selected the module will be called ch1115-i2c.
