# SPDX-License-Identifier: GPL-2.0-only
config COMMON_CLK_REALTEK
	bool "Clock driver for Realtek SoCs"
	depends on ARCH_REALTEK || COMPILE_TEST
	select MFD_SYSCON
	default y
	help
	  Enable the common clock framework infrastructure for Realtek
	  system-on-chip platforms.

	  This provides the base support required by individual Realtek
	  clock controller drivers to expose clocks to peripheral devices.

	  If you have a Realtek-based platform, say Y.

if COMMON_CLK_REALTEK

config RTK_CLK_COMMON
	tristate "Realtek Clock Common"
	select RESET_CONTROLLER
	help
	  Common helper code shared by Realtek clock controller drivers.

	  This provides utility functions and data structures used by
	  multiple Realtek clock implementations, and include integration
	  with reset controllers where required.

config RTK_CLK_PLL_MMC
	bool

config COMMON_CLK_RTD1625
        tristate "RTD1625 Clock Controller"
        select RTK_CLK_COMMON
        select RTK_CLK_PLL_MMC
        default y
	help
	  Support for the clock controller on Realtek RTD1625 SoCs.

	  This driver provides clock sources, gating, multiplexing, and
	  reset control for peripherals on the RTD1625 platform.

	  Say Y here if your system is based on the RTD1625 and you need
	  its peripheral devices to function.
endif
