// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright 2025 Nvidia

eeprom@56 {
	compatible = "atmel,24c128";
	reg = <0x56>;
};

gpio@26 {
	compatible = "nxp,pca9555";
	reg = <0x26>;
	gpio-controller;
	#gpio-cells = <2>;
	gpio-line-names = "WP_QSPI_CX1", "RST_SEQ_CX1_L",
			  "BOOT_CMPLT_CX1", "FNP_CX1_L",
			  "WP_FRU_CX1", "OVT_SHUTDOWN_CX1",
			  "TMP_WARNING_CX1", "USB_HUB2_RST_L",
			  "I2C_SWITCH2_RESET", "",
			  "", "",
			  "", "",
			  "", "";
};

i2c-mux@72 {
	compatible = "nxp,pca9546";
	reg = <0x72>;
	i2c-mux-idle-disconnect;
	#address-cells = <1>;
	#size-cells = <0>;

	i2c@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0>;
	};
	i2c@1 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <1>;
	};
	i2c@2 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <2>;
		gpio@20 {
			reg = <0x20>;
			gpio-controller;
			compatible = "nxp,pca6408";
			#gpio-cells = <2>;
			gpio-line-names = "GLOBAL_WP", "OOB_RST_N",
					  "OOB_RECOVERY", "MCU_RECOVERY_N",
					  "MCU_RST_N", "MCU_BYPASS_N",
					  "SMBUS_FRU_EEPROM_WP", "";
		};
		eeprom@50 {
			reg = <0x50>;
			compatible = "atmel,24c128";
		};
	};
	i2c@3 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <3>;
		gpio@20 {
			reg = <0x20>;
			gpio-controller;
			compatible = "nxp,pca6408";
			#gpio-cells = <2>;
			gpio-line-names = "GLOBAL_WP", "OOB_RST_N",
					  "OOB_RECOVERY", "MCU_RECOVERY_N",
					  "MCU_RST_N", "MCU_BYPASS_N",
					  "SMBUS_FRU_EEPROM_WP", "";
		};
		eeprom@50 {
			reg = <0x50>;
			compatible = "atmel,24c128";
		};
	};
};

