# SPDX-License-Identifier: GPL-2.0-only

config CRYPTO_DEV_SPACC
	tristate "Support for dwc_spacc Security Protocol Accelerator"
	depends on HAS_DMA
	depends on HAS_IOMEM
	select CRYPTO_ENGINE
	select CRYPTO_HASH if CRYPTO_DEV_SPACC_HASH
	select CRYPTO_SHA1 if CRYPTO_DEV_SPACC_HASH
	select CRYPTO_MD5 if CRYPTO_DEV_SPACC_HASH
	select CRYPTO_SHA256 if CRYPTO_DEV_SPACC_HASH
	select CRYPTO_SHA512 if CRYPTO_DEV_SPACC_HASH
	select CRYPTO_HMAC if CRYPTO_DEV_SPACC_HASH
	select CRYPTO_CMAC if CRYPTO_DEV_SPACC_HASH
	select CRYPTO_XCBC if CRYPTO_DEV_SPACC_HASH
	select CRYPTO_AES if CRYPTO_DEV_SPACC_HASH
	select CRYPTO_SM4_GENERIC if CRYPTO_DEV_SPACC_HASH
	default n

	help
	  This enables support for SPAcc Hardware Accelerator.

if CRYPTO_DEV_SPACC

config CRYPTO_DEV_SPACC_HASH
	bool "Enable HASH functionality"
	default CRYPTO_DEV_SPACC
	help
	  Say y to enable Hash functionality of SPAcc.

config CRYPTO_DEV_SPACC_AUTODETECT
	bool "Enable Autodetect functionality"
	default n
	help
	  Say y to enable Autodetect functionality of SPAcc.

config CRYPTO_DEV_SPACC_DEBUG_TRACE_IO
	bool "Enable Trace MMIO reads/writes stats"
	default n
	help
	  Say y to enable Trace MMIO reads/writes stats.
	  To Debug and trace IO register read/write operations.

config CRYPTO_DEV_SPACC_DEBUG_TRACE_DDT
	bool "Enable Trace DDT entries stats"
	default n
	help
	  Say y to enable Enable DDT entry stats.
	  To Debug and trace DDT operation

config CRYPTO_DEV_SPACC_SECURE_MODE
	bool "Enable Spacc secure mode stats"
	default n
	help
	  Say y to enable SPAcc secure modes stats.

config CRYPTO_DEV_SPACC_CONFIG_DEBUG
	bool "Enable SPAcc debug logs"
	default n
	help
	  Say y to enable additional debug prints and diagnostics in the
	  SPAcc driver. Disable this for production builds.

endif # CRYPTO_DEV_SPACC
