# SPDX-License-Identifier: GPL-2.0-only
config STEAL_GOVERNOR
	tristate "Dynamic vCPU management based on steal time"
	depends on PARAVIRT && SMP
	select PREFERRED_CPU
	default m
	help
	  This driver helps to reduce the steal time in paravirtualised
	  environment, thereby reducing vCPU preemption. Reducing vCPU
	  preemption provides improved lock holder preemption and reduces
	  cost of vCPU preemption in the host.

	  By default preferred CPUs will be same as active CPUs. Depending
	  on the steal time when steal_governor driver is enabled,
	  preferred CPUs could become subset of active CPUs.

	  It is recommended to build it as module and load the module
	  to enable it.
