# SPDX-License-Identifier: GPL-2.0

menuconfig I3C
	tristate "I3C support"
	select I2C
	help
	  I3C is a serial protocol standardized by the MIPI alliance.

	  It's supposed to be backward compatible with I2C while providing
	  support for high speed transfers and native interrupt support
	  without the need for extra pins.

	  The I3C protocol also standardizes the slave device types and is
	  mainly designed to communicate with sensors.

	  If you want I3C support, you should say Y here and also to the
	  specific driver for your bus adapter(s) below.

	  This I3C support can also be built as a module.  If so, the module
	  will be called i3c.

if I3C
source "drivers/i3c/master/Kconfig"
endif # I3C

config I3C_SLAVE
	bool "I3C Slave Support"
	help
	  Support I3C Slave Mode.

	  Enable this configuration option to support configurable I3C slave.
	  This should be enabled if the platform has a I3C controller that can
	  operate in slave mode.

	  Enabling this option will build the I3C slave library, which includes
	  slave controller library and slave function library.

	  If in doubt, say "N" to disable slave support.

config I3C_SLAVE_CONFIGFS
	bool "I3C Slave Configfs Support"
	depends on I3C_SLAVE
	select CONFIGFS_FS
	help
	  Configfs entry for slave function and controller.

	  This will enable the configfs entry that can be used to configure
	  the slave function and used to bind the function with a slave
	  controller.

