// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) 2026, Barnabas Czeman
 */

/dts-v1/;

#include "msm8917-xiaomi-wingtech.dtsi"

/ {
	model = "Xiaomi Redmi 4A (rolex)";
	compatible = "xiaomi,rolex", "qcom,msm8917";

	qcom,board-id = <0x1000b 1>;

	multi-led {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		function = LED_FUNCTION_STATUS;
		leds = <&led0>, <&led1>, <&led2>;
	};
};

&aw2013 {
	status = "okay";

	led0: led@0 {
		reg = <0>;
		led-max-microamp = <5000>;
		color = <LED_COLOR_ID_RED>;
	};

	led1: led@1 {
		reg = <1>;
		led-max-microamp = <5000>;
		color = <LED_COLOR_ID_GREEN>;
	};

	led2: led@2 {
		reg = <2>;
		led-max-microamp = <5000>;
		color = <LED_COLOR_ID_BLUE>;
	};
};

&blsp1_i2c2 {
	status = "okay";
};
