// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2024, Qualcomm Innovation Center, Inc. All rights reserved.
 */
/dts-v1/;

#include "qcs615.dtsi"
/ {
	model = "Qualcomm Technologies, Inc. QCS615 Ride";
	compatible = "qcom,qcs615-ride", "qcom,qcs615";

	chosen {
		bootargs = "console=hvc0";
	};
};
