// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (c) 2021, Iskren Chernev <iskren.chernev@gmail.com>
 */

#include <dt-bindings/sound/qcom,q6dsp-lpass-ports.h>
#include "sm6115.dtsi"

&CPU0 {
	compatible = "qcom,kryo240";
};

&CPU1 {
	compatible = "qcom,kryo240";
};

&CPU2 {
	compatible = "qcom,kryo240";
};

&CPU3 {
	compatible = "qcom,kryo240";
};

&CPU4 {
	compatible = "qcom,kryo240";
};

&CPU5 {
	compatible = "qcom,kryo240";
};

&CPU6 {
	compatible = "qcom,kryo240";
};

&CPU7 {
	compatible = "qcom,kryo240";
};

&soc {
	lpass_tlmm: pinctrl@a7c0000 {
		compatible = "qcom,sm4250-lpass-lpi-pinctrl";
		reg = <0x0 0xa7c0000 0x0 0x20000>,
		      <0x0 0xa950000 0x0 0x10000>;

		clocks = <&q6afecc LPASS_HW_DCODEC_VOTE LPASS_CLK_ATTRIBUTE_COUPLE_NO>;
		clock-names = "audio";

		gpio-controller;
		#gpio-cells = <2>;
		gpio-ranges = <&lpass_tlmm 0 0 26>;
	};
};
