config DMABUF_HEAPS_SYSTEM
	bool "DMA-BUF System Heap"
	depends on DMABUF_HEAPS
	help
	  Choose this option to enable the system dmabuf heap. The system heap
	  is backed by pages from the buddy allocator. If in doubt, say Y.

config DMABUF_HEAPS_CMA
	bool "DMA-BUF CMA Heap"
	depends on DMABUF_HEAPS && DMA_CMA
	help
	  Choose this option to enable dma-buf CMA heap. This heap is backed
	  by the Contiguous Memory Allocator (CMA). If your system has these
	  regions, you should say Y here.

config DMABUF_HEAPS_MTK_SECURE
	bool "DMA-BUF MediaTek Secure Heap"
	depends on DMABUF_HEAPS && TEE && CMA
	help
	  Choose this option to enable dma-buf MediaTek secure heap for Secure
	  Video Path. This heap is backed by TEE client interfaces. If in
	  doubt, say N.
