# SPDX-License-Identifier: GPL-2.0-only
config VIRTIO_VFIO_PCI
        tristate "VFIO support for VIRTIO PCI devices"
        depends on VIRTIO_PCI
        select VFIO_PCI_CORE
        help
          This provides support for exposing VIRTIO VF devices using the VFIO
          framework that can work with a legacy virtio driver in the guest.
          Based on PCIe spec, VFs do not support I/O Space; thus, VF BARs shall
          not indicate I/O Space.
          As of that this driver emulated I/O BAR in software to let a VF be
          seen as a transitional device in the guest and let it work with
          a legacy driver.

          If you don't know what to do here, say N.
