// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Wesion, Inc. All rights reserved.
 */

/dts-v1/;

#include "amlogic-t7.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/gpio/amlogic,t7-periphs-pinctrl.h>

/ {
	model = "Khadas vim4";
	compatible = "khadas,vim4", "amlogic,a311d2", "amlogic,t7";

	aliases {
		serial0 = &uart_a;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x2 0x0>; /* 8 GB */
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* 3 MiB reserved for ARM Trusted Firmware (BL31) */
		secmon_reserved: secmon@5000000 {
			reg = <0x0 0x05000000 0x0 0x300000>;
			no-map;
		};

		/* 32 MiB reserved for ARM Trusted Firmware (BL32) */
		secmon_reserved_bl32: secmon@5300000 {
			reg = <0x0 0x05300000 0x0 0x2000000>;
			no-map;
		};
	};

	xtal: xtal-clk {
		compatible = "fixed-clock";
		clock-frequency = <24000000>;
		clock-output-names = "xtal";
		#clock-cells = <0>;
	};
	
	sdcard_power: regulator-sdcard {
			compatible = "regulator-fixed";
			regulator-name = "SDCARD_POWER";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio GPIOD_11 GPIO_ACTIVE_LOW>;
			regulator-boot-on;
			enable-active-low;
			regulator-always-on;
	};

	vddio_card: gpio-regulator {
			compatible = "regulator-gpio";
			regulator-name = "VDDIO_CARD";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3300000>;
			gpios = <&gpio GPIOD_9 GPIO_ACTIVE_HIGH>;
			gpios-states = <1>;
			states = <1800000 1 3300000 0>;
	};

};

&uart_a {
	status = "okay";
	clocks = <&xtal>, <&xtal>, <&xtal>;
	clock-names = "xtal", "pclk", "baud";
};

/* SD card */
&sd_emmc_b {
	status = "okay";
	pinctrl-0 = <&sd_all_pins>;
	pinctrl-1 = <&sd_1bit_pins>;
	pinctrl-2 = <&sd_clk_gate_pins>;
	pinctrl-names = "sd_default",
			"sd_1bit_pins",
			"clk-gate";
	bus-width = <4>; 
	cap-sd-highspeed;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	max-frequency = <200000000>;

	disable-wp;

	cd-gpios = <&gpio GPIOC_6 GPIO_ACTIVE_HIGH>;
	//dat1-gpios = <&gpio GPIOC_1 GPIO_ACTIVE_HIGH>;
	vmmc-supply = <&sdcard_power>;
	vqmmc-supply = <&vddio_card>;
};

&ext_mdio {
	external_phy: ethernet-phy@0 {
		reg = <0>;
		max-speed = <1000>;
	};
};

&ethmac {
	pinctrl-0 = <&eth_pins>, <&eth_rgmii_pins>;
	pinctrl-names = "default";
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&external_phy>;
	mc_val = <0x1621>;
	cali_val = <0xa0000>;
	amlogic,tx-delay-ns = <2>;
};
