// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 Alberto Robazza <robazza.alberto@proton.me>
 */

/dts-v1/;

#include "meson-g12b-a311d.dtsi"
#include "meson-g12b-odroid-n2.dtsi"
#include <dt-bindings/leds/common.h>

/ {
	compatible = "orbbec,zora-p1", "amlogic,a311d", "amlogic,g12b";
	model = "Orbbec Zora P1";

	leds {
		/* Status led on Zora is actually green, same pin as N2, but reversed polarity */
		led-blue {
			function = LED_FUNCTION_STATUS;
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&gpio_ao GPIOAO_11 GPIO_ACTIVE_LOW>;
		};
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&gpio GPIOX_16 GPIO_ACTIVE_LOW>;
		clocks = <&clock_32768>;
		clock-names = "ext_clock";
	};

	clock_32768: clock-32768 {
		compatible = "pwm-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
		pwms = <&pwm_ef 0 30518 0>;
	};

	sound {
		model = "ZORA-P1";
	};
};

&pwm_ef {
	status = "okay";
	pinctrl-0 = <&pwm_e_pins>;
	pinctrl-names = "default";
};

/* AP6256 Wi-Fi: Broadcom BCM43456 over SDIO. */
&sd_emmc_a {
	status = "okay";
	pinctrl-0 = <&sdio_pins>;
	pinctrl-1 = <&sdio_clk_gate_pins>;
	pinctrl-names = "default", "clk-gate";
	#address-cells = <1>;
	#size-cells = <0>;

	bus-width = <4>;
	cap-sd-highspeed;
	max-frequency = <100000000>;
	non-removable;
	disable-wp;
	keep-power-in-suspend;

	mmc-pwrseq = <&sdio_pwrseq>;
	vmmc-supply = <&tflash_vdd>;
	vqmmc-supply = <&vddao_1v8>;

	wifi@1 {
		compatible = "brcm,bcm4329-fmac";
		reg = <1>;
	};
};

/* AP6256 Bluetooth: Broadcom BCM4345C5 over UART_A. */
&uart_A {
	status = "okay";
	pinctrl-0 = <&uart_a_pins>, <&uart_a_cts_rts_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;

	bluetooth {
		compatible = "brcm,bcm4345c5";
		shutdown-gpios = <&gpio GPIOX_6 GPIO_ACTIVE_HIGH>;
		max-speed = <2000000>;
		clocks = <&clock_32768>;
		clock-names = "lpo";
	};
};

/* vddcpu regulators same as Odroid N2+ */
&vddcpu_a {
	regulator-min-microvolt = <680000>;
	regulator-max-microvolt = <1040000>;

	pwms = <&pwm_ab 0 1500 0>;
};

&vddcpu_b {
	regulator-min-microvolt = <680000>;
	regulator-max-microvolt = <1040000>;

	pwms = <&pwm_AO_cd 1 1500 0>;
};
