// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)

/dts-v1/;

#include "stm32h7r7.dtsi"
#include "stm32h7rs-pinctrl.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "RT-Thread ART-Pi2 STM32H7R7 board";
	compatible = "ruiside,art-pi2", "st,stm32h7r7";

	chosen {
		bootargs = "earlycon console=ttySTM0,115200";
		stdout-path = "serial0:115200n8";
	};

	memory@90000000 {
		device_type = "memory";
		reg = <0x90000000 0x02000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		dma_pool: dma-pool {
			compatible = "shared-dma-pool";
			no-map;
			size = <0x00200000>;
			linux,dma-default;
		};
	};

	aliases {
		mmc0 = &sdmmc1;
		serial0 = &uart4;
	};

	v3v3: regulator-v3v3 {
		compatible = "regulator-fixed";
		regulator-name = "v3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	leds {
		compatible = "gpio-leds";

		led_red: led-red {
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_INDICATOR;
			gpios = <&gpioo 1 GPIO_ACTIVE_HIGH>;
		};

		led_blue: led-blue {
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_HEARTBEAT;
			gpios = <&gpioo 5 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		button-user {
			label = "User";
			linux,code = <KEY_WAKEUP>;
			gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
		};
	};
};

&uart4 {
	pinctrl-0 = <&uart4_pins_a>;
	pinctrl-names = "default";
	status = "okay";
};

&sdmmc1 {
	pinctrl-names = "default", "opendrain", "sleep";
	pinctrl-0 = <&sdmmc1_b4_pins_a>;
	pinctrl-1 = <&sdmmc1_b4_od_pins_a>;
	pinctrl-2 = <&sdmmc1_b4_sleep_pins_a>;
	broken-cd;
	st,neg-edge;
	bus-width = <4>;
	vmmc-supply = <&v3v3>;
	max-frequency = <50000000>;
	status = "okay";
};

&clk_hse {
	clock-frequency = <24000000>;
};
