# SPDX-License-Identifier: GPL-2.0
# Copyright (c) 2025, Intel Corporation. All rights reserved.
#
config INTEL_MEI_LATE_BIND
	tristate "Intel late binding support on ME Interface"
	select INTEL_MEI_ME
	depends on DRM_XE
	help
	  MEI Support for Late Binding for Intel graphics card.

	  Enables the ME FW interfaces for Late Binding feature,
	  allowing loading of firmware for the devices like Fan
	  Controller during by Intel Xe driver.
