// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2025 Yao Zi <ziyao@disroot.org>
 */

/dts-v1/;

#include "loongson-2k0300.dtsi"

/ {
	compatible = "ctcisz,forever-pi", "loongson,ls2k0300";
	model = "CTCISZ Forever Pi";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@200000 {
		device_type = "memory";
		reg = <0 0x00200000 0 0x0ee00000>,
		      <0 0x90000000 0 0x10000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0 0x02000000>;
			linux,cma-default;
		};
	};
};

&uart0 {
	clock-frequency = <100000000>;
	status = "okay";
};
