// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Author: Taishi Shimizu <s.taishi14142@gmail.com>
 */

/dts-v1/;

#include "bcm4708.dtsi"
#include "bcm5301x-nand-cs0-bch8.dtsi"

/ {
	compatible = "buffalo,wxr-1750dhp", "brcm,bcm4708";
	model = "Buffalo WXR-1750DHP";

	chosen {
		bootargs = "console=ttyS0,115200";
	};

	memory@0 {
		reg = <0x00000000 0x08000000>,
		      <0x88000000 0x08000000>;
		device_type = "memory";
	};

	gpio-keys {
		compatible = "gpio-keys";

		button-aoss {
			label = "AOSS";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&chipcommon 2 GPIO_ACTIVE_LOW>;
		};

		/* GPIO 8 and 9 are a tri-state switch button with
		 * ROUTER / AP / WB.
		 */
		button-bridge {
			label = "WB";
			linux,code = <BTN_2>;
			linux,input-type = <EV_SW>;
			gpios = <&chipcommon 8 GPIO_ACTIVE_HIGH>;
		};

		/* GPIO 3 is a switch button with AUTO / MANUAL. */
		button-manual {
			label = "MANUAL";
			linux,code = <BTN_0>;
			linux,input-type = <EV_SW>;
			gpios = <&chipcommon 3 GPIO_ACTIVE_HIGH>;
		};

		button-restart {
			label = "Reset";
			linux,code = <KEY_RESTART>;
			gpios = <&chipcommon 11 GPIO_ACTIVE_LOW>;
		};

		button-router {
			label = "ROUTER";
			linux,code = <BTN_1>;
			linux,input-type = <EV_SW>;
			gpios = <&chipcommon 9 GPIO_ACTIVE_HIGH>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led-power0 {
			label = "bcm53xx:white:power";
			linux,default-trigger = "default-on";
			gpios = <&chipcommon 5 GPIO_ACTIVE_HIGH>;
		};

		led-power1 {
			label = "bcm53xx:amber:power";
			gpios = <&chipcommon 6 GPIO_ACTIVE_HIGH>;
		};

		led-router0 {
			label = "bcm53xx:amber:router";
			gpios = <&chipcommon 14 GPIO_ACTIVE_HIGH>;
		};

		led-router1 {
			label = "bcm53xx:white:router";
			gpios = <&chipcommon 15 GPIO_ACTIVE_HIGH>;
		};

		led-usb {
			label = "bcm53xx:green:usb";
			gpios = <&chipcommon 4 GPIO_ACTIVE_HIGH>;
		};

		led-wan {
			label = "bcm53xx:white:wan";
			gpios = <&chipcommon 7 GPIO_ACTIVE_HIGH>;
		};
	};
};

&srab {
	status = "okay";

	ports {
		port@0 {
			label = "wan";
		};

		port@1 {
			label = "lan4";
		};

		port@2 {
			label = "lan3";
		};

		port@3 {
			label = "lan2";
		};

		port@4 {
			label = "lan1";
		};
	};
};

&usb3 {
	vcc-gpio = <&chipcommon 10 GPIO_ACTIVE_HIGH>;
};

&usb3_phy {
	status = "okay";
};
