// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2023 Josua Mayer <josua@solid-run.com>
 *
 * DTS for SolidRun AM642 HummingBoard-T,
 * running on Cortex A53.
 *
 */

/dts-v1/;

#include <dt-bindings/phy/phy.h>

#include "k3-am642.dtsi"
#include "k3-am642-sr-som.dtsi"

/ {
	model = "SolidRun AM642 HummingBoard-T";
	compatible = "solidrun,am642-hummingboard-t", "solidrun,am642-sr-som", "ti,am642";

	aliases {
		serial5 = &main_uart3;
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&leds_pins_default>;
		status = "okay";

		/* D24 */
		led1: led-1 {
			label = "led1:green";
			gpios = <&main_gpio0 29 GPIO_ACTIVE_HIGH>;
		};

		/* D25 */
		led2: led-2 {
			label = "led2:green";
			gpios = <&main_gpio0 30 GPIO_ACTIVE_HIGH>;
		};

		/* D26 */
		led3: led-3 {
			label = "led3:green";
			gpios = <&main_gpio0 33 GPIO_ACTIVE_HIGH>;
		};
	};

	regulator-m2-3v3 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&regulator_pcie_3v3_pins_default>;
		regulator-name = "m2-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&main_gpio1 17 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
	};

	regulator-vpp-1v8 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&regulator_vpp_1v8_pins_default>;
		regulator-name = "vpp-1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&main_gpio1 78 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	serdes_mux: mux-controller {
		compatible = "gpio-mux";
		pinctrl-names = "default";
		pinctrl-0 = <&serdes_mux_pins_default>;
		#mux-control-cells = <0>;
		/*
		 * Mux has 2 IOs:
		 * - select: 0 = USB-3 (M2); 1 = PCIE (M1)
		 * - shutdown: 0 = active; 1 = disabled (high impedance)
		 */
		mux-gpios = <&main_gpio1 40 GPIO_ACTIVE_HIGH>, <&main_gpio1 41 GPIO_ACTIVE_HIGH>;
		/* default disabled */
		idle-state = <2>;
	};
};

&main_gpio0 {
	m2-reset-hog {
		gpio-hog;
		gpios = <12 GPIO_ACTIVE_LOW>;
		output-low; /* deasserted */
		line-name = "m2-reset";
	};

	m1-m2-w-disable1-hog {
		gpio-hog;
		gpios = <32 GPIO_ACTIVE_LOW>;
		output-low; /* deasserted */
		line-name = "m1-m2-pcie-w-disable1";
	};

	m1-m2-w_disable2-hog {
		gpio-hog;
		gpios = <34 GPIO_ACTIVE_LOW>;
		output-low; /* deasserted */
		line-name = "m1-m2-pcie-w-disable2";
	};
};

&main_gpio1 {
	status = "okay";

	m1-pcie-clkreq0-hog {
		gpio-hog;
		gpios = <11 GPIO_ACTIVE_LOW>;
		input;
		line-name = "m1-pcie-clkreq0";
	};

	m2-pcie-clkreq-hog {
		gpio-hog;
		gpios = <35 GPIO_ACTIVE_LOW>;
		input;
		line-name = "m2-pcie-clkreq";
	};
};

&main_i2c0 {
	pinctrl-0 = <&main_i2c0_pins_default>, <&main_i2c0_int_pins_default>;

	humidity-sensor@41 {
		compatible = "ti,hdc2010";
		reg = <0x41>;
		interrupt-parent = <&main_gpio0>;
		interrupts = <37 IRQ_TYPE_EDGE_FALLING>;
		status = "okay";
	};

	light-sensor@44 {
		compatible = "ti,opt3001";
		reg = <0x44>;
		interrupt-parent = <&main_gpio0>;
		interrupts = <37 IRQ_TYPE_EDGE_FALLING>;
		status = "okay";
	};

	battery-charger@6a {
		compatible = "ti,bq25713";
		reg = <0x6a>;
		status = "okay";
	};
};

&main_i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_i2c1_pins_default>, <&main_i2c1_int_pins_default>;
	status = "okay";

	rtc: am1805aq@69 {
		compatible = "abracon,abx80x";
		reg = <0x69>;
		abracon,tc-diode = "schottky";
		abracon,tc-resistor = <3>;
		interrupt-parent = <&main_gpio0>;
		interrupts = <44 IRQ_TYPE_EDGE_FALLING>;
		status = "okay";
	};
};

&main_mcan0 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_mcan0_pins_default>;
	status = "okay";

	can-transceiver {
		max-bitrate = <8000000>;
	};
};

&main_mcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_mcan1_pins_default>;
	status = "okay";

	can-transceiver {
		max-bitrate = <8000000>;
	};
};

&main_pmx0 {
	leds_pins_default: leds-pins-default {
		pinctrl-single,pins = <
			AM64X_IOPAD(0x0074, PIN_OUTPUT, 7)	/* GPMC0_AD14.GPIO0_29 */
			AM64X_IOPAD(0x0078, PIN_OUTPUT, 7)	/* GPMC0_AD15.GPIO0_30 */
			AM64X_IOPAD(0x0088, PIN_OUTPUT, 7)	/* GPMC0_OEn_REn.GPIO0_33 */
		>;
	};

	main_i2c0_int_pins_default: main-i2c0-pins-int-default {
		pinctrl-single,pins = <
			/* external pull-up on Carrier */
			AM64X_IOPAD(0x0098, PIN_INPUT, 7)	/* GPMC0_WAIT0.GPIO0_37 */
		>;
	};

	main_i2c1_pins_default: main-i2c1-pins-default {
		pinctrl-single,pins = <
			/* external pull-up on SoM */
			AM64X_IOPAD(0x0268, PIN_INPUT, 0)	/* I2C1_SCL.I2C1_SCL */
			AM64X_IOPAD(0x026c, PIN_INPUT, 0)	/* I2C1_SDA.I2C1_SDA */
		>;
	};

	main_i2c1_int_pins_default: main-i2c1-int-pins-default {
		pinctrl-single,pins = <
			/* external pull-up on Carrier */
			AM64X_IOPAD(0x00b4, PIN_INPUT, 7)	/* GPMC0_CSn3.GPIO0_44 */
		>;
	};

	main_mcan0_pins_default: main-mcan0-pins-default {
		pinctrl-single,pins = <
			AM64X_IOPAD(0x0254, PIN_INPUT, 0)	/* MCAN0_RX.MCAN0_RX */
			AM64X_IOPAD(0x0250, PIN_OUTPUT, 0)	/* MCAN0_TX.MCAN0_TX */
		>;
	};

	main_mcan1_pins_default: main-mcan1-pins-default {
		pinctrl-single,pins = <
			AM64X_IOPAD(0x025c, PIN_INPUT, 0)	/* MCAN1_RX.MCAN1_RX */
			AM64X_IOPAD(0x0258, PIN_OUTPUT, 0)	/* MCAN1_TX.MCAN1_TX */
		>;
	};

	main_uart3_pins_default: main-uart3-pins-default {
		pinctrl-single,pins = <
			AM64X_IOPAD(0x016c, PIN_INPUT, 10)	/* PRG0_PRU0_GPO3.UART3_CTSn */
			AM64X_IOPAD(0x0170, PIN_OUTPUT, 10)	/* PRG0_PRU0_GPO4.UART3_TXD */
			AM64X_IOPAD(0x0174, PIN_OUTPUT, 10)	/* PRG0_PRU0_GPO5.UART3_RTSn */
			AM64X_IOPAD(0x01ac, PIN_INPUT, 10)	/* PRG0_PRU0_GPO19.UART3_RXD */
		>;
	};

	pcie0_pins_default: pcie0-pins-default {
		pinctrl-single,pins = <
			/* connector M2 RESET */
			AM64X_IOPAD(0x0030, PIN_OUTPUT, 7)	/* OSPI0_CSn1.GPIO0_12 */
			/* connectors M1 & M2 W_DISABLE1 */
			AM64X_IOPAD(0x0084, PIN_OUTPUT, 7)	/* GPMC0_ADVN_ALE.GPIO0_32 */
			/* connectors M1 & M2 W_DISABLE2 */
			AM64X_IOPAD(0x008c, PIN_OUTPUT, 7)	/* GPMC0_WEN.GPIO0_34 */
			/* connectors M1 & M2 PERST0 (PCI Reset) */
			AM64X_IOPAD(0x019c, PIN_OUTPUT, 7)	/* PRG0_PRU0_GPO15.GPIO1_15 */
			/* connector M1 CLKREQ0 */
			AM64X_IOPAD(0x018c, PIN_INPUT, 7)	/* PRG0_PRU0_GPO11.GPIO1_11 */
			/* connector M2 CLKREQ0 */
			AM64X_IOPAD(0x01ec, PIN_INPUT, 7)	/* PRG0_PRU1_GPO15.GPIO1_35 */
		>;
	};

	regulator_pcie_3v3_pins_default: regulator-pcie-3v3-pins-default {
		pinctrl-single,pins = <
			AM64X_IOPAD(0x01a4, PIN_OUTPUT, 7)	/* PRG0_PRU0_GPO17.GPIO1_17 */
		>;
	};

	regulator_vpp_1v8_pins_default: regulator-vpp-1v8-pins-default {
		pinctrl-single,pins = <
			AM64X_IOPAD(0x029c, PIN_OUTPUT, 7)	/* MMC1_SDWP.GPIO1_78 */
		>;
	};

	serdes_mux_pins_default: serdes-mux-pins-default {
		pinctrl-single,pins = <
			/* SEL, 10k pull-down on carrier, 2.2k pullup on SoM */
			AM64X_IOPAD(0x0200, PIN_OUTPUT, 7)	/* PRG0_MDIO0_MDIO.GPIO1_40 */
			/* EN */
			AM64X_IOPAD(0x0204, PIN_OUTPUT, 7)	/* PRG0_MDIO0_MDC.GPIO1_41 */
		>;
	};
};

&main_uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_uart3_pins_default>;
	uart-has-rtscts;
	rs485-rts-active-low;
	linux,rs485-enabled-at-boot-time;
	status = "okay";
};

&pcie0_rc {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie0_pins_default>;
	reset-gpios = <&main_gpio1 15 GPIO_ACTIVE_HIGH>;
	phys = <&serdes0_link>;
	phy-names = "pcie-phy";
	num-lanes = <1>;
	mux-controls = <&serdes_mux>;
	mux-control-names = "serdes";
	status = "disabled";
};

&pcie0_ep {
	phys = <&serdes0_link>;
	phy-names = "pcie-phy";
	num-lanes = <1>;
	status = "disabled";
};

&serdes0 {
	/*
	 * Serdes Signals are routed via mux to either m.2 connectors:
	 * - M1: USB-3.1
	 * - M2: PCI-E
	 */
	status = "okay";

	serdes0_link: phy@0 {
		reg = <0>;
		cdns,num-lanes = <1>;
		#phy-cells = <0>;
		cdns,phy-type = <PHY_NONE>;
		resets = <&serdes_wiz0 1>;
		status = "okay";
	};
};

&usb0 {
	dr_mode = "host";
};
