config SDXI
	tristate "SDXI support"
	select DMA_ENGINE
	help
	  Enable support for Smart Data Accelerator Interface (SDXI)
	  Platform Data Mover devices. SDXI is a vendor-neutral
	  standard for a memory-to-memory data mover and acceleration
	  interface.
