# SPDX-License-Identifier: GPL-2.0 OR Linux-OpenIB
config INFINIBAND_ZRDMA
	tristate "ZTE Ethernet Protocol Driver for RDMA"
	depends on PCI
	depends on NETDEVICES
	select AUXILIARY_BUS
	help
	  Say Y or M here to enable support for the ZTE DingHai (ZXDH) Ethernet
	  Protocol Driver for RDMA. This driver provides RDMA over Converged
	  Ethernet (RoCE) functionality for ZTE DingHai network adapters.
	  If you choose to build this driver as a module, it will be built as
	  a module named zrdma.
