# SPDX-License-Identifier: GPL-2.0-only
#
# Phy drivers for Airoha devices
#
config PHY_AIROHA_AN7581_PCIE
	tristate "Airoha AN7581 PCIe-PHY Driver"
	depends on ARCH_AIROHA || COMPILE_TEST
	depends on OF
	select GENERIC_PHY
	help
	  Say Y here to add support for Airoha AN7581 PCIe PHY driver.
	  This driver create the basic PHY instance and provides initialize
	  callback for PCIe GEN3 port.

config PHY_AIROHA_AN7581_USB
	tristate "Airoha AN7581 USB PHY Driver"
	depends on ARCH_AIROHA || COMPILE_TEST
	depends on OF
	select GENERIC_PHY
	help
	  Say 'Y' here to add support for Airoha AN7581 USB PHY driver.
	  This driver create the basic PHY instance and provides initialize
	  callback for USB port.
