# SPDX-License-Identifier: GPL-2.0-only

config PHY_AIROHA_AN7583_USB
	tristate "Airoha AN7583 USB PHY Driver"
	depends on ARCH_AIROHA || COMPILE_TEST
	depends on OF
	select GENERIC_PHY
	help
	  Say 'Y' here to add support for Airoha AN7583 USB PHY driver.
 	  This driver create the basic PHY instance and provides initialize
 	  callback for USB port.
