# SPDX-License-Identifier: GPL-2.0-only
#
# Phy drivers for Mediatek devices
#
config PHY_AIROHA_USB
	tristate "Airoha USB PHY Driver"
	depends on ARCH_AIROHA || COMPILE_TEST
	depends on OF
	select GENERIC_PHY
	help
	  Say 'Y' here to add support for Airoha USB PHY driver.
	  This driver create the basic PHY instance and provides initialize
	  callback for USB port.
