# SPDX-License-Identifier: GPL-2.0-only
config AT803X_PHY
	tristate "Qualcomm Atheros AR803X PHYs"
	depends on REGULATOR
	help
	  Currently supports the AR8030, AR8031, AR8033, AR8035 and internal
	  QCA8337(Internal qca8k PHY) model

config QCA83XX_PHY
	tristate "Qualcomm Atheros QCA833x PHYs"
	help
	  Currently supports the internal QCA8337(Internal qca8k PHY) model

config QCA808X_PHY
	tristate "Qualcomm QCA808x PHYs"
	help
	  Currently supports the QCA8081 model
