config SECURITY_CLAVIS
	bool "Clavis keyring"
	depends on SECURITY
	select SYSTEM_DATA_VERIFICATION
	select CRYPTO_SHA256
	help
	  Enable the clavis keyring. This keyring shall contain a single asymmetric key.
	  This key shall be linked to a key already contained in one of the system
	  keyrings (builtin, secondary, or platform).  One way to add this key
	  is during boot by passing in the asymmetric key id within the "clavis=" boot
	  param.  This keyring is required by the Clavis LSM.

config SECURITY_CLAVIS_ACL_LIST
	string "Clavis ACL list to preload into the clavis keyring"
	depends on SECURITY_CLAVIS
	help
	  If set, this option should be the file name of a list of clavis ACL
	  entries. This will be included into a C wrapper to incorporate the
	  acl list into the kernel. The file contents must be in the following
	  format: <two digit key usage number>:<subject key id>.  If more than
	  one entry is added, add a carriage return after each entry.

config SECURITY_CLAVIS_KUNIT_TEST
	bool "KUnit tests for Clavis" if !KUNIT_ALL_TESTS
	depends on SECURITY_CLAVIS && KUNIT
	default KUNIT_ALL_TESTS
	select SYSTEM_BLACKLIST_KEYRING
	select SYSTEM_REVOCATION_LIST
	help
	  Build KUnit tests for Clavis.

	  See the KUnit documentation in Documentation/dev-tools/kunit

	  Run all KUnit tests for Clavis with:
	  ./tools/testing/kunit/kunit.py run --kunitconfig security/clavis

	  If you are unsure how to answer this question, answer N.
