config SMI240
	tristate "Bosch Sensor SMI240 Inertial Measurement Unit"
	depends on SPI
	select REGMAP_SPI
	select IIO_BUFFER
	select IIO_TRIGGERED_BUFFER
	help
	  If you say yes here you get support for SMI240 IMU on SPI with
	  accelerometer and gyroscope.

	  This driver can also be built as a module. If so, the module will be
	  called smi240.
