# SPDX-License-Identifier: GPL-2.0

bindings_generated.rs
bindings_generated_static.rs
bindings_helpers_generated.rs
doctests_kernel_generated.rs
doctests_kernel_generated_kunit.c
uapi_generated.rs
exports_*_generated.h
extern.c
doc/
test/
