# SPDX-License-Identifier: GPL-2.0-only
config SMC
	tristate "SMC socket protocol family"
	depends on INET && INFINIBAND
	help
	  SMC-R provides a "sockets over RDMA" solution making use of
	  RDMA over Converged Ethernet (RoCE) technology to upgrade
	  AF_INET TCP connections transparently.
	  The Linux implementation of the SMC-R solution is designed as
	  a separate socket family SMC.

	  Select this option if you want to run SMC socket applications

config SMC_DIAG
	tristate "SMC: socket monitoring interface"
	depends on SMC
	help
	  Support for SMC socket monitoring interface used by tools such as
	  smcss.

	  if unsure, say Y.

config SMC_LO
	bool "SMC_LO: virtual loopback-ism for SMC"
	depends on SMC
	default n
	help
	  SMC_LO provides a kind of virtual ISM device called loopback-ism
	  for SMC-D to upgrade AF_INET TCP connections whose ends share the
	  same kernel.
	  loopback-ism is a software-implemented simulation device that does
	  not depend on a specific architecture or hardware.

	  if unsure, say N.
