# SPDX-License-Identifier: GPL-2.0-only
# DMA engine configuration for hsu
config HSU_DMA
	bool "HSU_DMA"
	select DMA_ENGINE
	select DMA_VIRTUAL_CHANNELS

config HSU_DMA_PCI
	bool "HSU_DMA_PCI"
	depends on HSU_DMA && PCI
