if ARCH_STM32 || COMPILE_TEST

config STM32_RISAB
	tristate "STM32 RISAB"
	depends on (ARM64  || COMPILE_TEST) && DEBUG_FS
	default y
	help
	  Say y to enable RISAB dump debug helper driver. This creates an entry
	  in the debugfs to dump RISAB pages and blocks RIF configurations.

endif # ARCH_STM32 || COMPILE_TEST
