config DRM_SSD13XX
	tristate "DRM support for Solomon SSD13xx OLED displays"
	depends on DRM && MMU
	select BACKLIGHT_CLASS_DEVICE
	select DRM_GEM_SHMEM_HELPER
	select DRM_KMS_HELPER
	help
	  DRM driver for the SSD13xx Solomon and SINO WEALTH SH110x OLED
	  controllers. This is only for the core driver, a driver for the
	  appropriate bus transport in your chip also must be selected.

	  If M is selected the module will be called ssd13xx.

config DRM_SSD13XX_I2C
	tristate "DRM support for Solomon SSD13xx OLED displays (I2C bus)"
	depends on DRM_SSD13XX && I2C
	select REGMAP_I2C
	help
	  Say Y here if the SSD13xx or SH110x OLED display is connected via
	  I2C bus.

	  If M is selected the module will be called ssd13xx-i2c.

config DRM_SSD13XX_SPI
	tristate "DRM support for Solomon SSD13xx OLED displays (SPI bus)"
	depends on DRM_SSD13XX && SPI
	select REGMAP
	help
	  Say Y here if the SSD13xx OLED display is connected via SPI bus.

	  If M is selected the module will be called ssd13xx-spi.
