// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include "rk3328-rock-pi-e-base.dtsi"

/ {
	model = "Radxa ROCK Pi E v3.0";
	compatible = "radxa,rockpi-e-v3", "rockchip,rk3328";

	aliases {
		mmc0 = &emmc;
		mmc1 = &sdmmc;
	};
};
