// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2023 Thomas McKahan
 * Copyright (c) 2024 Linaro Ltd.
 */

/dts-v1/;

#include "rk3588-nanopc-t6.dtsi"

/ {
	model = "FriendlyElec NanoPC-T6 Plus";
	compatible = "friendlyarm,nanopc-t6-plus", "rockchip,rk3588";

	codec_es_3v3: regulator-codec-es-3v3 {
		compatible = "regulator-fixed";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-name = "codec_es_3v3";
		vin-supply = <&vcc4v0_sys>;
	};

	usb2_port_5v: regulator-usb2-port-5v {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio1 RK_PA4 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&usb20_host_pwren_h_pin>;
		pinctrl-names = "default";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-name = "usb2_port_5v";
		vin-supply = <&vcc5v0_sys>;
	};
};

&analog_sound {
	compatible = "audio-graph-card";
	hp-det-gpios = <&gpio1 RK_PC4 GPIO_ACTIVE_LOW>;
	label = "rk3588-es8389";

	dais = <&i2s0_8ch_p0>;
	routing = "Headphones", "HPOL",
		  "Headphones", "HPOR",
		  "INPUT1", "Microphones Connector",
		  "INPUT2", "Microphones Connector";
	widgets = "Headphone", "Headphones",
		  "Microphone", "Microphones Connector";
};

&i2c7 {
	codec@10 {
		compatible = "everest,es8389";
		reg = <0x10>;
		assigned-clocks = <&cru I2S0_8CH_MCLKOUT_TO_IO>;
		assigned-clock-rates = <12288000>;
		clocks = <&cru I2S0_8CH_MCLKOUT_TO_IO>;
		clock-names = "mclk";
		#sound-dai-cells = <0>;
		vdda-supply = <&codec_es_3v3>;
		vddd-supply = <&vcc_1v8_s3>;

		port {
			es8389_p0_0: endpoint {
				remote-endpoint = <&i2s0_8ch_p0_0>;
			};
		};
	};
};

&i2s0_8ch {
	i2s0_8ch_p0: port {
		i2s0_8ch_p0_0: endpoint {
			dai-format = "i2s";
			mclk-fs = <256>;
			remote-endpoint = <&es8389_p0_0>;
		};
	};
};

&pinctrl {
	usb {
		usb20_host_pwren_h_pin: usb20-host-pwren-h-pin {
			rockchip,pins = <1 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&u2phy2_host {
	phy-supply = <&usb2_port_5v>;
};
