// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device tree overlay for the Radxa Camera 8M attached to the CSI port of
 * the Radxa ROCK 3A.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

&{/} {
	clk_camera: clock-camera {
		compatible = "fixed-clock";
		clock-frequency = <24000000>;
		clock-output-names = "clk_camera";
		#clock-cells = <0>;
	};

	vana_camera: regulator-vana-camera {
		compatible = "regulator-fixed";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		regulator-name = "vana_camera";
		vin-supply = <&vcc_cam>;
	};

	vddl_camera: regulator-vddl-camera {
		compatible = "regulator-fixed";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		regulator-name = "vddl_camera";
		vin-supply = <&vcc_cam>;
	};

	vdig_camera: regulator-vdig-camera {
		compatible = "regulator-fixed";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-name = "vdig_camera";
		vin-supply = <&vcc_cam>;
	};
};

&i2c5 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	imx219: camera-sensor@10 {
		compatible = "sony,imx219";
		reg = <0x10>;
		clocks = <&clk_camera>;
		clock-names = "xclk";
		pinctrl-names = "default";
		pinctrl-0 = <&camera_reset>;
		reset-gpios = <&gpio4 RK_PD2 GPIO_ACTIVE_HIGH>;
		VANA-supply = <&vana_camera>;
		VDDL-supply = <&vddl_camera>;
		VDIG-supply = <&vdig_camera>;

		port {
			imx219_output: endpoint {
				data-lanes = <1 2>;
				link-frequencies = /bits/ 64 <456000000>;
				remote-endpoint = <&csi_input>;
			};
		};
	};
};

&pinctrl {
	cam {
		camera_reset: camera-reset-pinctrl {
			rockchip,pins = <4 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&csi {
	status = "okay";
};

&csi_dphy {
	status = "okay";
};

&csi_in {
	csi_input: endpoint {
		data-lanes = <1 2>;
		link-frequencies = /bits/ 64 <456000000>;
		remote-endpoint = <&imx219_output>;
	};
};

&vicap {
	status = "okay";
};

&vicap_mmu {
	status = "okay";
};
