// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device tree overlay for the Radxa Camera 8M attached to the CSI port of
 * the Radxa ROCK 3A.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

&{/} {
	clk_cam: clock-cam {
		compatible = "fixed-clock";
		clock-frequency = <24000000>;
		clock-output-names = "clk_cam";
		#clock-cells = <0>;
	};

	vcc_camera: regulator-vcc-camera {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio4 RK_PD2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&camera_power_en>;
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-name = "vcc_camera";
		vin-supply = <&vcc_cam>;
	};
};

&i2c5 {
	#address-cells = <1>;
	clock-frequency = <100000>;
	#size-cells = <0>;
	status = "okay";

	imx219: camera-sensor@10 {
		compatible = "sony,imx219";
		reg = <0x10>;
		clocks = <&clk_cam>;
		clock-names = "xclk";
		VANA-supply = <&vcc_camera>;
		VDIG-supply = <&vcc_camera>;
		VDDL-supply = <&vcc_camera>;

		port {
			imx219_output: endpoint {
				data-lanes = <1 2>;
				link-frequencies = /bits/ 64 <456000000>;
				remote-endpoint = <&csi_input>;
			};
		};
	};
};

&pinctrl {
	cam {
		camera_power_en: camera-power-en-pinctrl {
			rockchip,pins = <4 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&csi {
	status = "okay";
};

&csi_dphy {
	status = "okay";
};

&csi_in {
	csi_input: endpoint {
		data-lanes = <1 2>;
		link-frequencies = /bits/ 64 <456000000>;
		remote-endpoint = <&imx219_output>;
	};
};

&vicap {
	status = "okay";
};

&vicap_mmu {
	status = "okay";
};
