# SPDX-License-Identifier: GPL-2.0-only

config VIDEO_ALLEGRO_DVT_D300
	tristate "Allegro DVT Video IP Decode Gen 3"
	depends on V4L_MEM2MEM_DRIVERS
	depends on VIDEO_DEV && OF && HAS_DMA
	select V4L2_MEM2MEM_DEV
	select VIDEOBUF2_DMA_CONTIG
	select REGMAP_MMIO
	help
	  This is a video4linux2 driver for the Allegro DVT IP Decode Gen 3,
	  that support codecs : AVC (H.264), HEVC (H.265), and JPEG.
