# SPDX-License-Identifier: GPL-2.0-only
#
config RV_MON_STS
	depends on RV
	depends on IRQSOFF_TRACER
	depends on RV_MON_SCHED
	default y
	select DA_MON_EVENTS_IMPLICIT
	bool "sts monitor"
	help
	  Monitor to ensure relationships between scheduler and switches
	   * each call to the scheduler implies a switch
	   * switches only happen inside the scheduler
	   * switches happen with interrupt disabled
	  This monitor is part of the sched monitors collection.

	  For further information, see:
	    Documentation/trace/rv/monitor_sched.rst
