# SPDX-License-Identifier: GPL-2.0
config VIDEO_ROCKCHIP_JPEGD
	tristate "Rockchip JPEG decoder driver"
	depends on ARCH_ROCKCHIP || COMPILE_TEST
	depends on VIDEO_DEV
	select MEDIA_CONTROLLER
	select V4L2_JPEG_HELPER
	select V4L2_MEM2MEM_DEV
	select VIDEOBUF2_DMA_CONTIG
	help
	  Support for the JPEG decoder Rockchip integrates into a number of
	  its SoCs, decoding JPEG and MJPEG frames to NV12.
	  To compile this driver as a module, choose M here: the module
	  will be called rockchip-jpegd.
