// SPDX-License-Identifier: GPL-2.0-or-later

/dts-v1/;
#include "aspeed-g7.dtsi"

/ {
	model = "ASPEED ast2700 Development Board";
	compatible = "aspeed,ast2700-evb", "aspeed,ast2700";

	aliases {
		serial12 = &serial12;
	};

	chosen {
		stdout-path = &serial12;
	};

	firmware {
		optee: optee {
			compatible = "linaro,optee-tz";
			method = "smc";
		};
	};

	memory@400000000 {
		device_type = "memory";
		reg = <0x4 0x00000000 0x40000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <1>;
		ranges;

		mcu_fw: mcu-firmware@42fe00000 {
			reg = <0x4 0x2fe00000 0x200000>;
			no-map;
		};

		atf: trusted-firmware-a@430000000 {
			reg = <0x4 0x30000000 0x80000>;
			no-map;
		};

		optee_core: optee-core@430080000 {
			reg = <0x4 0x30080000 0x1000000>;
			no-map;
		};
	};
};

&serial12 {
	status = "okay";
};
