// SPDX-License-Identifier: GPL-2.0-or-later

/dts-v1/;
#include "aspeed-g7.dtsi"

/ {
	model = "AST2700 EVB";
	compatible = "aspeed,ast2700-evb", "aspeed,ast2700";

	chosen {
		stdout-path = "serial12:115200n8";
	};

	memory@400000000 {
		device_type = "memory";
		reg = <0x4 0x00000000 0x0 0x40000000>;
	};
};

&uart12 {
	status = "okay";
};
