// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2019 MediaTek Inc.
 * Copyright (c) 2024 Val Packett <val@packett.cool>
 */

#include <dt-bindings/input/input.h>

&pwrap {
	pmic: pmic {
		compatible = "mediatek,mt6392", "mediatek,mt6323";
		interrupt-controller;
		#interrupt-cells = <2>;

		mt6392keys: keys {
			compatible = "mediatek,mt6392-keys";

			key-power {
				linux,keycodes = <KEY_POWER>;
				wakeup-source;
			};

			key-home {
				linux,keycodes = <KEY_HOME>;
				wakeup-source;
			};
		};

		mt6392pio: pinctrl {
			compatible = "mediatek,mt6392-pinctrl";

			gpio-controller;
			#gpio-cells = <2>;
		};

		mt6392rtc: rtc {
			compatible = "mediatek,mt6392-rtc",
				"mediatek,mt6323-rtc";
		};
	};
};
