// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright 2024 Google LLC
 */
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
/dts-v1/;
/plugin/;

&i2c0 {
	#address-cells = <1>;
	#size-cells = <0>;

	rt5682s: audio-codec@1a {
		compatible = "realtek,rt5682s";
		reg = <0x1a>;
		interrupts-extended = <&pio 108 IRQ_TYPE_EDGE_BOTH>;
		pinctrl-names = "default";
		pinctrl-0 = <&audio_codec_pins>;
		#sound-dai-cells = <1>;

		AVDD-supply = <&mt6359_vio18_ldo_reg>;
		DBVDD-supply = <&mt6359_vio18_ldo_reg>;
		LDO1-IN-supply = <&mt6359_vio18_ldo_reg>;
		MICVDD-supply = <&pp3300_s3>;
		realtek,jd-src = <1>;
	};

	tas2563: amplifier@4f {
		compatible = "ti,tas2563", "ti,tas2781";
		reg = <0x4f>, <0x4c>; /* left / right channel */
		reset-gpios = <&pio 118 GPIO_ACTIVE_HIGH>;
		#sound-dai-cells = <0>;
	};
};

&sound {
	compatible = "mediatek,mt8188-rt5682s";
	model = "mt8188_tas2563_5682";

	audio-routing =
		"ETDM1_OUT", "ETDM_SPK_PIN",
		"ETDM2_OUT", "ETDM_HP_PIN",
		"ETDM1_IN", "ETDM_SPK_PIN",
		"ETDM2_IN", "ETDM_HP_PIN",
		"ADDA Capture", "MTKAIF_PIN",
		"Headphone Jack", "HPOL",
		"Headphone Jack", "HPOR",
		"IN1P", "Headset Mic";

	dai-link-1 {
		codec {
			sound-dai = <&tas2563>;
		};
	};

	dai-link-2 {
		codec {
			sound-dai = <&rt5682s 0>;
		};
	};

	dai-link-3 {
		codec {
			sound-dai = <&rt5682s 0>;
		};
	};
};
