# SPDX-License-Identifier: GPL-2.0-only
#
config RV_MON_SRS
	depends on RV
	depends on RV_MON_SCHED
	default y
	select DA_MON_EVENTS_ID
	bool "srs monitor"
	help
	  Monitor to describe conditions for different types of task switch.
	  This monitor enforces rules such as preempt after setting need
	  for reschedule and suspend after setting a task to sleepable.
	  This monitor is part of the sched monitors collection.

	  For further information, see:
	    Documentation/trace/rv/monitor_sched.rst
