// SPDX-License-Identifier: GPL-2.0+
/*
 *  (C) Copyright 2020 Draeger and Licensors, info@draeger.com
 */
#include "socfpga_cyclone5.dtsi"

/ {
	model = "Draeger M48 Cyclone V SoC";
	compatible = "draeger,M48/socfpga", "altr,socfpga-cyclone5", "altr,socfpga";

	chosen {
		bootargs = "earlyprintk";
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		name = "memory";
		device_type = "memory";
		reg = <0x0 0x40000000>;

		/* 1GB */
	};

	aliases {
	/* this allow the ethaddr uboot environmnet variable contents
	 * to be added to the gmac1 device tree blob.
	 */
		ethernet0 = &gmac0;
	};

	soc {
		gpio3: gpio@0xff202000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "snps,dw-apb-gpio";
			reg = <0xff202000 0x20>;
			status = "okay";

			portd: gpio-controller@0 {
				compatible = "snps,dw-apb-gpio-port";
				gpio-controller;
				#gpio-cells = <2>;
				snps,nr-gpios = <2>;
				reg = <0>;
				bank-name = "SYNC_I";
			};
		};

		gpio4: gpio@0xff202020 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "snps,dw-apb-gpio";
			reg = <0xff202020 0x20>;
			status = "okay";

			porte: gpio-controller@0 {
				compatible = "snps,dw-apb-gpio-port";
				gpio-controller;
				#gpio-cells = <2>;
				snps,nr-gpios = <2>;
				reg = <0>;
				bank-name = "SYNC_O";
			};
		};
	};
};

&gmac0 {
	status = "okay";
	phy-mode = "rgmii-id";
	rxc-skew-ps = <1860>;
	rxd0-skew-ps = <0>;
	rxd1-skew-ps = <0>;
	rxd2-skew-ps = <0>;
	rxd3-skew-ps = <0>;
	rxdv-skew-ps = <0>;
	txc-skew-ps = <900>;
	txd0-skew-ps = <0>;
	txd1-skew-ps = <0>;
	txd2-skew-ps = <0>;
	txd3-skew-ps = <0>;
	txen-skew-ps = <0>;
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpio2 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <100000>;

	eeprom_mac: eeprom@50 {
		compatible = "atmel,24c08";
		reg = <0x50>;
		pagesize = <16>;
	};
};

&mmc0 {
	status = "okay";
};

&qspi {
	status = "okay";

	flash0: n25q00@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "n25q00";
		reg = <0>;

		/* chip select */
		spi-max-frequency = <100000000>;
		m25p,fast-read;
		cdns,page-size = <256>;
		cdns,block-size = <16>;
		cdns,read-delay = <4>;
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;
	};
};
