// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Arm Ltd.
 */

/dts-v1/;

#include "sun50i-a133-baije-core.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

/{
	model = "HelperBoard A133";
	compatible = "baijie,helper-a133",
		     "baijie,helper-a133-core",
		     "allwinner,sun50i-a100";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	leds {
		compatible = "gpio-leds";

		led {
			function = LED_FUNCTION_INDICATOR;
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&pio 7 13 GPIO_ACTIVE_LOW>;	/* PH13 */
		};
	};
};

&mmc0 {
	vmmc-supply = <&reg_dcdc1>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>;	/* PF6 */
	bus-width = <4>;
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pb_pins>;
	status = "okay";
};

&rgmii0_pins {
	drive-strength = <30>;
};

&emac0 {
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii0_pins>;
	phy-handle = <&eth_phy>;
	phy-mode = "rgmii-id";
	allwinner,rx-delay-ps = <200>;
	allwinner,tx-delay-ps = <200>;
	status = "okay";
};

&mdio0 {
	reset-gpios = <&pio 7 11 GPIO_ACTIVE_LOW>;	/* PH11 */
	reset-delay-us = <10000>;
	reset-post-delay-us = <150000>;

	eth_phy: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
	};
};

&usbphy {
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};
