# SPDX-License-Identifier: GPL-2.0-only
config HPFS_FS
	tristate "OS/2 HPFS file system support"
	depends on BLOCK
	select BUFFER_HEAD
	select FS_IOMAP
	help
	  OS/2 is IBM's operating system for PC's, the same as Warp, and HPFS
	  is the file system used for organizing files on OS/2 hard disk
	  partitions. Say Y if you want to be able to read files from and
	  write files to an OS/2 HPFS partition on your hard drive. OS/2
	  floppies however are in regular MSDOS format, so you don't need this
	  option in order to be able to read them. Read
	  <file:Documentation/filesystems/hpfs.rst>.

	  To compile this file system support as a module, choose M here: the
	  module will be called hpfs.  If unsure, say N.

config HPFS_FS_ALLOW_NO_ERROR_CHECK_MODE
	bool "Allow no-error-check mode for maximum speed"
	depends on HPFS_FS
	default n
	help
	  This option enables check=none mount option. If check=none is
	  specified, users can expect maximum speed at the cost of minimum
	  robustness. Sane users should not specify check=none option, for e.g.
	  use-after-free bug will happen when the filesystem is corrupted or
	  crafted.
