# SPDX-License-Identifier: GPL-2.0-only

if HAS_IOMEM && (ARCH_ZTE || COMPILE_TEST)

menu "ZTE SoC drivers"

config ZTE_ZX297520V3_CRM
	tristate "ZTE zx297520v3 Clock and Reset Manager"
	select MFD_CORE
	default SOC_ZX297520V3
	help
	  Say yes here to enable the driver for the ZTE zx297520v3 clock and
	  reset manager MFD driver. This driver provides the host device for
	  the clock and reset drivers and is required to boot the SoC. You
	  will also need to enable CLK_ZTE_ZX297520V3 and RESET_ZTE_ZX297520V3
	  to build the actual clock and reset submodule drivers.

endmenu

endif
