// SPDX-License-Identifier: GPL-2.0
/*
 * Samsung's ExynosAuto920 TMU configurations device tree source
 *
 * Copyright (c) 2020 Samsung Electronics Co., Ltd.
 *
 * Samsung's ExynosAuto920 SoC TMU(Thermal Managemenut Unit) are listed as
 * device tree nodes in this file.
 */

/ {
	thermal-zones {
		cpucl0-0-thermal {
			polling-delay-passive = <0>;
			polling-delay = <0>;
			thermal-sensors = <&tmu_top 0>;

			trips {
				cpucl0_0_critical: cpucl0-0-critical {
					temperature = <125000>;	/* millicelsius */
					hysteresis = <0>;	/* millicelsius */
					type = "critical";
				};
			};
		};

		cpucl0-1-thermal {
			polling-delay-passive = <0>;
			polling-delay = <0>;
			thermal-sensors = <&tmu_sub0 0>;

			trips {
				cpucl0_1_critical: cpucl0-1-critical {
					temperature = <125000>;	/* millicelsius */
					hysteresis = <0>;	/* millicelsius */
					type = "critical";
				};
			};
		};

		cpucl1-thermal {
			polling-delay-passive = <0>;
			polling-delay = <0>;
			thermal-sensors = <&tmu_top 1>;

			trips {
				cpucl1_critical: cpucl1-critical {
					temperature = <125000>;	/* millicelsius */
					hysteresis = <0>;	/* millicelsius */
					type = "critical";
				};
			};
		};

		cpucl2-thermal {
			polling-delay-passive = <0>;
			polling-delay = <0>;
			thermal-sensors = <&tmu_sub0 1>;

			trips {
				cpucl2_critical: cpucl2-critical {
					temperature = <125000>;	/* millicelsius */
					hysteresis = <0>;	/* millicelsius */
					type = "critical";
				};
			};
		};

		g3d-thermal {
			polling-delay-passive = <0>;
			polling-delay = <0>;
			thermal-sensors = <&tmu_sub1 0>;

			trips {
				g3d_critical: g3d-critical {
					temperature = <125000>; /* millicelsius */
					hysteresis = <0>; /* millicelsius */
					type = "critical";
				};
			};
		};

		npu-thermal {
			polling-delay-passive = <0>;
			polling-delay = <0>;
			thermal-sensors = <&tmu_sub1 1>;

			trips {
				npu_critical: npu-critical {
					temperature = <125000>; /* millicelsius */
					hysteresis = <0>; /* millicelsius */
					type = "critical";
				};
			};
		};
	};
};
