# SPDX-License-Identifier: GPL-2.0

config SYNOLOGY_MICROP
	tristate "Synology Microp driver"
	depends on LEDS_CLASS && LEDS_CLASS_MULTICOLOR
	depends on RUST_SERIAL_DEV_BUS_ABSTRACTIONS
	help
	  Enable support for the MCU found in Synology NAS devices.

	  This is needed to properly shutdown and reboot the device, as well as
	  additional functionality like fan and LED control.

	  This driver is work in progress and may not be fully functional.
