config MHI_BUS_EP
	tristate "Modem Host Interface (MHI) bus Endpoint implementation"
	help
	  Bus driver for MHI protocol. Modem Host Interface (MHI) is a
	  communication protocol used by a host processor to control
	  and communicate a modem device over a high speed peripheral
	  bus or shared memory.

	  MHI_BUS_EP implements the MHI protocol for the endpoint devices,
	  such as SDX55 modem connected to the host machine over PCIe.

config MHI_BUS_EP_LOOPBACK
	tristate "MHI Endpoint loopback driver"
	depends on MHI_BUS_EP
	help
	  MHI endpoint loopback driver for data path testing.
	  This driver receives data on the uplink channel and echoes
	  it back on the downlink channel for testing purposes.
