// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Apple T8010 "A10" common device tree for non-iPod touch 7 devices
 *
 * Copyright (c) 2024, Nick Chan <towinchenmi@gmail.com>
 */

#include "t8010.dtsi"
